@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

#tabuleiro{
    margin: auto;
    margin-top: 90px;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns:100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
} 

.posicao{
    text-align: center;
    font-weight: 500;
    font-size: 3.5em;
}

.banner{
    display: block;
    margin: auto;
    width: 400px;
    margin-top: 70px;
}

#span{
    color: rgb(0, 102, 255);
    font-size: 1.5em;
}



#vencedor{
    color: rgb(255, 28, 28);
    font-size: 1.5em;
}

.vencedo{
    display: none;
}

.sumir{
    display: block;
}